/* applies box model, sets margin and padding to 0, sets font to Times New Roman */

*{box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Times New Roman' ;}

/* sets a default color for my header sections */
:root {
    --design: #2b2d42; 
}

body {
    background-color: rgb(204, 202, 194);
}

p{
    color: black;
}
header{
    background-color: var(--design);
    color: whitesmoke;
    width: 100%;
    padding: 25px;
    display: inline-block;
   margin-bottom: 40px;

}

h1{
    font-size: 30px;

}


.navigation {
    text-align: right;
}
/* targets the specific list in the header instead of all lists */
header ul li{
    display: inline;
    animation: none;
    font-size: 20px;
    padding: 8px;
    /* adds spacing to the words in the list for nicer look */
    
}

 a {
    text-decoration: none;
    /* gets rid of purple highlighting and underline  */
    color: whitesmoke;
}

/* gives a glowing effect to the hover */
.navigation a:hover {
    box-shadow: inset 0 0 5px 0 whitesmoke, 0 0 8px 0 whitesmoke;
}
/* could condense into all h2 tags next time  */

.about-me h2 {
    background-color: var(--design);
    font-size: 20px;
    padding-left: 10px;
    border-right: 2px solid whitesmoke;
    padding: 20px;
    color: whitesmoke;
}
.about-me{
    display: flex;
    position: relative;
    background-color: cornflowerblue;
    width: 75%;
    padding: 20px;
    margin-left: 25px;
    margin-bottom: 40px ;

}

.about-me p {
    padding-left: 10px
}

.work {
    display: flex;
    position: relative;
    background-color: cornflowerblue;
    width: 75%;
    padding: 20px;
    margin-left: 25px;
    margin-bottom: 40px;
}

.work h2 {
    background-color: var(--design);
    font-size: 20px;
    padding-left: 10px;
    border-right: 2px solid whitesmoke;
    padding: 20px;
    color: whitesmoke;
}
/* sets the area to a flexbox  */
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* getting the images in the correct formatting  */
img.repo{
    position: relative;
    width: 300px;
    height: 250px;
}
img.w3schools{
   
    position: relative;
    
    height: 250px;
    width: 250px;
}

img.google{
    
    position: relative;
    height: 250px;
    width: 250px;
    
}
 
.projects a {
    padding-left: 10px;
}

.contact {
    display: flex;
    position: relative;
    background-color: cornflowerblue;
    width: 75%;
    padding: 20px;
    margin-left: 25px;
    margin-bottom: 40px;


}

.contact h2{
    background-color: var(--design);
    font-size: 20px;
    padding-left: 10px;
    border-right: 2px solid whitesmoke;
    padding: 20px;
    color: whitesmoke;
}


section.contact ul li{
    text-align: center;
    display: inline-flex;
    padding: 20px;
    font-size: 20px;
}

footer{
    text-align: center;
    font-size: 20px;
    background-color: var(--design);
    color: whitesmoke;
    position: relative;
    margin-top: 30px;
    padding: 20px;
}

 /* update picture soon with better photo */
 .pictureme {
     height: 150px;
     width: 100px;
 }
    
